@import url(~antd/dist/antd.css);
html, body {
  position: relative;
  height: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-y: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: NanumSquareR; }

#root, .app {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%; }

.contents {
  position: relative;
  margin-left: 255px;
  padding-top: 80px;
  height: 100%;
  background-color: #ebedf2;
  overflow: scroll; }

button:disabled {
  opacity: 0.5; }

.contents__wrap {
  position: relative;
  margin-left: 255px;
  padding-top: 80px;
  height: 100%;
  background-color: #ebedf2;
  overflow: scroll; }

.nav__wrap {
  position: relative;
  float: left;
  background-color: #2c2e3e !important;
  width: 255px;
  color: white;
  height: 100%; }
  .nav__wrap .nav__logowrap {
    text-align: center;
    color: white;
    background-color: #282a3c !important;
    height: 70px;
    padding: 0 30px;
    vertical-align: center;
    color: #868aa8; }
  .nav__wrap .nav__firstmenu {
    text-indent: 16px; }
    .nav__wrap .nav__firstmenu .nav__item:hover {
      background-color: #868aa8; }
    .nav__wrap .nav__firstmenu .nav__item:active, .nav__wrap .nav__firstmenu .nav__item.active {
      background-color: #868aa8; }
    .nav__wrap .nav__firstmenu .nav__item {
      text-decoration: none;
      color: white; }
    .nav__wrap .nav__firstmenu .nav__secondmenu {
      text-indent: 20px; }

.header__wrap {
  position: fixed;
  margin-left: 255px;
  height: 70px;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  background-color: #ebedf2; }

.header__wrap::after {
  clear: both;
  content: "";
  display: block; }

.header__wrap {
  position: fixed;
  margin-left: 255px;
  height: 70px;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  background-color: #ebedf2; }

.header__wrap::after {
  clear: both;
  content: "";
  display: block; }

.pages__managetemp {
  position: relative;
  padding: 20px; }
  .pages__managetemp h1 {
    font-size: 20px; }
  .pages__managetemp .managetemp__new {
    float: right; }
  .pages__managetemp .managetemp__search {
    margin: 20px 50px 20px 0;
    position: relative;
    display: inline-block;
    color: red; }
    .pages__managetemp .managetemp__search .managetemp__searchtitle {
      margin-bottom: 5px; }
  .pages__managetemp .managetemp__btnwrap .managetemp__searchbtn {
    background-color: #28a745;
    border-radius: 4px; }
  .pages__managetemp .managetemp__btnwrap .managetemp__resetbtn {
    border-radius: 4px;
    margin-left: 20px; }

.pages__managetemp::after {
  clear: both;
  content: "";
  display: block; }

.table__wrap {
  width: 100%;
  margin-top: 10px; }

.pages__newtemp {
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: white; }
  .pages__newtemp .pages__textarea {
    width: 50%;
    display: inline-block; }
  .pages__newtemp .newtemp__replacements {
    margin-left: 20px;
    display: inline-block;
    width: 48%; }
    .pages__newtemp .newtemp__replacements .newtemp__replacements__addbtn {
      float: right; }

.pages__sendmsg {
  background-color: white;
  margin: 0 20px; }
  .pages__sendmsg .sendmsg__nav {
    float: left;
    padding-right: 20px; }
  .pages__sendmsg .sendmsg__content {
    display: inline-block;
    padding-left: 20px;
    width: 80%;
    border-left: 1px solid black; }
    .pages__sendmsg .sendmsg__content .sendmsg__searchwrap {
      width: 80%; }

.newtemp__replacementsmodal {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  top: 900px; }
  .newtemp__replacementsmodal input {
    margin-bottom: 10px; }
  .newtemp__replacementsmodal .btn-primary {
    margin-right: 20px; }

.newtemp__replacementsmodal1 {
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 900px; }
  .newtemp__replacementsmodal1 input {
    margin-bottom: 10px; }
  .newtemp__replacementsmodal1 .btn-primary {
    margin-right: 20px; }

.sendmsg__selectuser .selectuser__infobox .selectuser__info span {
  margin-right: 20px; }
.sendmsg__selectuser .selectuser__infobox .selectuser__info input {
  margin-right: 20px; }

.replacementstable__wrap {
  display: inline-block;
  margin: 30px;
  width: 40%; }

.pages__modifytemp {
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: white; }
  .pages__modifytemp .pages__textarea {
    width: 50%;
    display: inline-block; }
  .pages__modifytemp .modifytemp__replacements {
    margin-left: 20px;
    display: inline-block;
    width: 48%; }
    .pages__modifytemp .modifytemp__replacements .modifytemp__replacements__addbtn {
      float: right; }

.custominput {
  position: relative; }

.custominput:hover {
  border: 1px solid #d9d9d9; }

.custominput:focus {
  border-color: #716aca;
  border-right-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.customtextarea {
  position: relative; }

.customtextarea:hover {
  border: 1px solid #d9d9d9; }

.customtextarea:focus {
  border-color: #716aca;
  border-right-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.customtable__wrap {
  position: relative; }

.custompagination {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

.custompagination ul,
.custompagination ol {
  margin: 0;
  padding: 0;
  list-style: none; }

.custompagination:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.ant-pagination-total-text {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 30px;
  margin-right: 8px; }

.ant-pagination-item {
  cursor: pointer;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 7px;
  font-family: Arial;
  outline: 0; }

.ant-pagination-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transition: none;
  transition: none;
  margin: 0 6px; }

.ant-pagination-item:focus,
.ant-pagination-item:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-color: #716aca; }

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #716aca; }

.ant-pagination-item-active {
  border-color: #716aca;
  font-weight: 500; }

.ant-pagination-item-active a {
  color: #716aca; }

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #837BCA; }

.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #837BCA; }

.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  outline: 0; }

.ant-pagination-jump-prev .ant-pagination-item-container,
.ant-pagination-jump-next .ant-pagination-item-container {
  position: relative; }

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  display: inline-block;
  font-size: 12px;
  font-size: 12px \9;
  -webkit-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  color: #716aca;
  letter-spacing: -1px;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s; }

:root .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
:root .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  font-size: 12px; }

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon-svg,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon-svg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  position: absolute;
  display: block;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.ant-pagination-jump-prev:focus .ant-pagination-item-link-icon,
.ant-pagination-jump-next:focus .ant-pagination-item-link-icon,
.ant-pagination-jump-prev:hover .ant-pagination-item-link-icon,
.ant-pagination-jump-next:hover .ant-pagination-item-link-icon {
  opacity: 1; }

.ant-pagination-jump-prev:focus .ant-pagination-item-ellipsis,
.ant-pagination-jump-next:focus .ant-pagination-item-ellipsis,
.ant-pagination-jump-prev:hover .ant-pagination-item-ellipsis,
.ant-pagination-jump-next:hover .ant-pagination-item-ellipsis {
  opacity: 0; }

.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  margin-right: 8px; }

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  font-family: Arial;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  list-style: none;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  vertical-align: middle; }

.ant-pagination-prev,
.ant-pagination-next {
  outline: 0; }

.ant-pagination-prev a,
.ant-pagination-next a {
  color: rgba(0, 0, 0, 0.65);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  border-color: #837BCA; }

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 4px;
  outline: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 12px;
  height: 100%;
  text-align: center; }

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #716aca;
  color: #716aca; }

.ant-pagination-disabled,
.ant-pagination-disabled:hover,
.ant-pagination-disabled:focus {
  cursor: not-allowed; }

.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed; }

.ant-pagination-slash {
  margin: 0 10px 0 5px; }

.ant-pagination-options {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px; }

.ant-pagination-options-size-changer.ant-select {
  display: inline-block;
  width: auto;
  margin-right: 8px; }

.ant-pagination-options-quick-jumper {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  line-height: 32px; }

.ant-pagination-options-quick-jumper input {
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: 0 8px;
  width: 50px; }

.ant-pagination-options-quick-jumper input::-moz-placeholder {
  color: #bfbfbf;
  opacity: 1; }

.ant-pagination-options-quick-jumper input:-ms-input-placeholder {
  color: #bfbfbf; }

.ant-pagination-options-quick-jumper input::-webkit-input-placeholder {
  color: #bfbfbf; }

.ant-pagination-options-quick-jumper input:hover {
  border-color: #837BCA;
  border-right-width: 1px !important; }

.ant-pagination-options-quick-jumper input:focus {
  border-color: #837BCA;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important; }

.ant-pagination-options-quick-jumper input-disabled {
  background-color: #f5f5f5;
  opacity: 1;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25); }

.ant-pagination-options-quick-jumper input-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important; }

textarea.ant-pagination-options-quick-jumper input {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-transition: all .3s, height 0s;
  transition: all .3s, height 0s;
  min-height: 32px; }

.ant-pagination-options-quick-jumper input-lg {
  padding: 6px 11px;
  height: 40px;
  font-size: 16px; }

.ant-pagination-options-quick-jumper input-sm {
  padding: 1px 7px;
  height: 24px; }

.ant-pagination-simple .ant-pagination-prev,
.ant-pagination-simple .ant-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top; }

.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link {
  border: 0;
  height: 24px; }

.ant-pagination-simple .ant-pagination-prev .ant-pagination-item-link:after,
.ant-pagination-simple .ant-pagination-next .ant-pagination-item-link:after {
  height: 24px;
  line-height: 24px; }

.ant-pagination-simple .ant-pagination-simple-pager {
  display: inline-block;
  margin-right: 8px;
  height: 24px; }

.ant-pagination-simple .ant-pagination-simple-pager input {
  margin-right: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  outline: none;
  padding: 0 6px;
  height: 100%;
  text-align: center;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s; }

.ant-pagination-simple .ant-pagination-simple-pager input:hover {
  border-color: #716aca; }

.ant-pagination.mini .ant-pagination-total-text,
.ant-pagination.mini .ant-pagination-simple-pager {
  height: 24px;
  line-height: 24px; }

.ant-pagination.mini .ant-pagination-item {
  margin: 0;
  min-width: 24px;
  height: 24px;
  line-height: 22px; }

.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
  background: transparent;
  border-color: transparent; }

.ant-pagination.mini .ant-pagination-prev,
.ant-pagination.mini .ant-pagination-next {
  margin: 0;
  min-width: 24px;
  height: 24px;
  line-height: 24px; }

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  border-color: transparent;
  background: transparent; }

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link:after,
.ant-pagination.mini .ant-pagination-next .ant-pagination-item-link:after {
  height: 24px;
  line-height: 24px; }

.ant-pagination.mini .ant-pagination-jump-prev,
.ant-pagination.mini .ant-pagination-jump-next {
  height: 24px;
  line-height: 24px;
  margin-right: 0; }

.ant-pagination.mini .ant-pagination-options {
  margin-left: 2px; }

.ant-pagination.mini .ant-pagination-options-quick-jumper {
  height: 24px;
  line-height: 24px; }

.ant-pagination.mini .ant-pagination-options-quick-jumper input {
  padding: 1px 7px;
  height: 24px;
  width: 44px; }

.customsteps .ant-steps-item-icon {
  border-radius: 0px; }
.customsteps .ant-steps-item-process .ant-steps-item-icon {
  border-color: #716aca;
  background: #716aca; }
.customsteps .ant-steps-item-finish .ant-steps-item-tail:after {
  background-color: #716aca; }
.customsteps .ant-steps-item-finish .ant-steps-item-icon {
  border-color: #716aca; }
  .customsteps .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
    color: #716aca; }

.ant-popover-title {
  border-radius: 20px 20px 0 0;
  background-color: #837BCA; }

.ant-popover-inner {
  border-radius: 20px; }

.ant-alert-custom {
  border: 1px solid #28a745;
  background-color: #716aca; }

.ant-alert-custom .ant-alert-icon {
  color: red; }

.customtag {
  border-radius: 15px;
  margin-bottom: 8px; }

.custombtn {
  position: relative; }

.custombtn:hover {
  border: 1px solid #716aca;
  color: #716aca; }

.custombtn:focus {
  border: 1px solid #716aca;
  color: #716aca; }

.ant-btn-custom {
  color: #fff;
  background-color: #716aca;
  border-color: #716aca;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035); }

.ant-btn-custom > a:only-child {
  color: currentColor; }

.ant-btn-custom > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-custom:hover,
.ant-btn-custom:focus {
  color: #fff;
  background-color: #837BCA;
  border-color: #837BCA; }

.ant-btn-custom:hover > a:only-child,
.ant-btn-custom:focus > a:only-child {
  color: currentColor; }

.ant-btn-custom:hover > a:only-child:after,
.ant-btn-custom:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-custom:active,
.ant-btn-custom.active {
  color: #fff;
  background-color: #716aca;
  border-color: #716aca; }

.ant-btn-custom:active > a:only-child,
.ant-btn-custom.active > a:only-child {
  color: currentColor; }

.ant-btn-custom:active > a:only-child:after,
.ant-btn-custom.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-custom.disabled,
.ant-btn-custom[disabled],
.ant-btn-custom.disabled:hover,
.ant-btn-custom[disabled]:hover,
.ant-btn-custom.disabled:focus,
.ant-btn-custom[disabled]:focus,
.ant-btn-custom.disabled:active,
.ant-btn-custom[disabled]:active,
.ant-btn-custom.disabled.active,
.ant-btn-custom[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.ant-btn-custom.disabled > a:only-child,
.ant-btn-custom[disabled] > a:only-child,
.ant-btn-custom.disabled:hover > a:only-child,
.ant-btn-custom[disabled]:hover > a:only-child,
.ant-btn-custom.disabled:focus > a:only-child,
.ant-btn-custom[disabled]:focus > a:only-child,
.ant-btn-custom.disabled:active > a:only-child,
.ant-btn-custom[disabled]:active > a:only-child,
.ant-btn-custom.disabled.active > a:only-child,
.ant-btn-custom[disabled].active > a:only-child {
  color: currentColor; }

.ant-btn-custom.disabled > a:only-child:after,
.ant-btn-custom[disabled] > a:only-child:after,
.ant-btn-custom.disabled:hover > a:only-child:after,
.ant-btn-custom[disabled]:hover > a:only-child:after,
.ant-btn-custom.disabled:focus > a:only-child:after,
.ant-btn-custom[disabled]:focus > a:only-child:after,
.ant-btn-custom.disabled:active > a:only-child:after,
.ant-btn-custom[disabled]:active > a:only-child:after,
.ant-btn-custom.disabled.active > a:only-child:after,
.ant-btn-custom[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-group .ant-btn-custom:not(:first-child):not(:last-child) {
  border-right-color: #716aca;
  border-left-color: #716aca; }

.ant-btn-group .ant-btn-custom:not(:first-child):not(:last-child):disabled {
  border-color: #d9d9d9; }

.ant-btn-group .ant-btn-custom:first-child:not(:last-child) {
  border-right-color: #716aca; }

.ant-btn-group .ant-btn-custom:first-child:not(:last-child)[disabled] {
  border-right-color: #d9d9d9; }

.ant-btn-group .ant-btn-custom:last-child:not(:first-child),
.ant-btn-group .ant-btn-custom + .ant-btn-custom {
  border-left-color: #716aca; }

.ant-btn-group .ant-btn-custom:last-child:not(:first-child)[disabled],
.ant-btn-group .ant-btn-custom + .ant-btn-custom[disabled] {
  border-left-color: #d9d9d9; }

.anticon {
  vertical-align: 1px; }

.ant-btn-background-ghost.ant-btn-custom {
  color: #716aca;
  background-color: transparent;
  border-color: #716aca;
  text-shadow: none; }

.ant-btn-background-ghost.ant-btn-custom > a:only-child {
  color: currentColor; }

.ant-btn-background-ghost.ant-btn-custom > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-background-ghost.ant-btn-custom:hover,
.ant-btn-background-ghost.ant-btn-custom:focus {
  color: #837BCA;
  background-color: transparent;
  border-color: #837BCA; }

.ant-btn-background-ghost.ant-btn-custom:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-custom:focus > a:only-child {
  color: currentColor; }

.ant-btn-background-ghost.ant-btn-custom:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom:focus > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-background-ghost.ant-btn-custom:active,
.ant-btn-background-ghost.ant-btn-custom.active {
  color: #716aca;
  background-color: transparent;
  border-color: #716aca; }

.ant-btn-background-ghost.ant-btn-custom:active > a:only-child,
.ant-btn-background-ghost.ant-btn-custom.active > a:only-child {
  color: currentColor; }

.ant-btn-background-ghost.ant-btn-custom:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

.ant-btn-background-ghost.ant-btn-custom.disabled,
.ant-btn-background-ghost.ant-btn-custom[disabled],
.ant-btn-background-ghost.ant-btn-custom.disabled:hover,
.ant-btn-background-ghost.ant-btn-custom[disabled]:hover,
.ant-btn-background-ghost.ant-btn-custom.disabled:focus,
.ant-btn-background-ghost.ant-btn-custom[disabled]:focus,
.ant-btn-background-ghost.ant-btn-custom.disabled:active,
.ant-btn-background-ghost.ant-btn-custom[disabled]:active,
.ant-btn-background-ghost.ant-btn-custom.disabled.active,
.ant-btn-background-ghost.ant-btn-custom[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.ant-btn-background-ghost.ant-btn-custom.disabled > a:only-child,
.ant-btn-background-ghost.ant-btn-custom[disabled] > a:only-child,
.ant-btn-background-ghost.ant-btn-custom.disabled:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-custom[disabled]:hover > a:only-child,
.ant-btn-background-ghost.ant-btn-custom.disabled:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-custom[disabled]:focus > a:only-child,
.ant-btn-background-ghost.ant-btn-custom.disabled:active > a:only-child,
.ant-btn-background-ghost.ant-btn-custom[disabled]:active > a:only-child,
.ant-btn-background-ghost.ant-btn-custom.disabled.active > a:only-child,
.ant-btn-background-ghost.ant-btn-custom[disabled].active > a:only-child {
  color: currentColor; }

.ant-btn-background-ghost.ant-btn-custom.disabled > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom[disabled] > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom.disabled:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom[disabled]:hover > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom.disabled:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom[disabled]:focus > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom.disabled:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom[disabled]:active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom.disabled.active > a:only-child:after,
.ant-btn-background-ghost.ant-btn-custom[disabled].active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent; }

/*# sourceMappingURL=index.css.map */
