.customalert{
  //background-color: #837BCA;
  //.ant-alert-message{
  //  color: #28a745;
  //}
}



//type custom create


.ant-alert-custom {
  border: 1px solid #28a745;
  background-color: #716aca;
}
.ant-alert-custom .ant-alert-icon {
  color: red;
}