.nav__wrap{
  position: relative;
  float: left;
  background-color: #2c2e3e !important;
  width: 255px;
  color: white;
  height: 100%;
  .nav__logowrap{
    text-align: center;
    color: white;
    background-color: #282a3c !important;
    height: 70px;
    padding: 0 30px;
    vertical-align: center;
    color: #868aa8;

  }
  .nav__firstmenu{
    text-indent: 16px;
  }

}