.newtemp__replacementsmodal{
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  //display: none;
  top: 900px;
  input{
    margin-bottom: 10px;
  }
  .btn-primary{
    margin-right: 20px;
  }
}
.newtemp__replacementsmodal1{
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  //display: none;
  right: 0px;
  top: 900px;
  input{
    margin-bottom: 10px;
  }
  .btn-primary{
    margin-right: 20px;
  }
}